[defaults]
inventory = ansible/inventory/hosts.yml
interpreter_python = auto_silent
host_key_checking = True
retry_files_enabled = False
stdout_callback = default

[ssh_connection]
ssh_executable = /home/rcanoff/.local/bin/win-ssh
ssh_args = -C -o ControlMaster=auto -o ControlPersist=10m
control_path_dir = ~/.ansible/cp
pipelining = true
