<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hermes.browser-daemon</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NODE_PATH__</string>
    <string>__DAEMON_ENTRY__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__WORKING_DIRECTORY__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HERMES_DATA_DIR</key>
    <string>__HERMES_DATA_DIR__</string>
    <key>PATH</key>
    <string>__PATH__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__LOG_FILE__</string>
  <key>StandardErrorPath</key>
  <string>__LOG_FILE__</string>
</dict>
</plist>